<form [formGroup]="parent" *ngIf="visible">
  <div class="form-group">
    <label class="text-light col-form-label-sm" *ngIf="label != null">{{label}}</label>
    <div class="input-group input-group-sm" [ngStyle]="groupStyle">
      <ng-container *ngIf="prefix?.visible">
        <div class="input-group-append" *ngIf="!prefix.innerHtml">
          <span class="input-group-text">{{prefix.value}}</span>
        </div>
        <div class="input-group-append" *ngIf="prefix.innerHtml" [innerHTML]="prefix.value">
        </div>
      </ng-container>
      <input type="text" [ngClass]="inputClass" [formControlName]="modelProperty" digitOnly [decimal]="allowDecimal">
      <ng-container *ngIf="suffix?.visible">
        <div class="input-group-append" *ngIf="!suffix.innerHtml">
          <span class="input-group-text">{{suffix.value}}</span>
        </div>
        <div class="input-group-append" *ngIf="suffix.innerHtml" [innerHTML]="suffix.value">
        </div>
      </ng-container>
    </div>
    <small *ngIf="hint" class="form-text text-muted">{{hint}}</small>
    <div class="invalid-feedback feedback">{{error_}}</div>
  </div>
</form>