<form [formGroup]="parent" *ngIf="isVisible">
    <ng-container *ngFor="let group of groupKeys;let gIndex = index;">
        <ng-container *ngFor="let key of group">
            <ndc-dynamic [ndcDynamicComponent]="getComponent(key, gIndex)"
                [ndcDynamicInputs]="getComponentInputs(key, gIndex)">
            </ndc-dynamic>
        </ng-container>
    </ng-container>
    <button type="button" class="mat-elevation-z6" mat-raised-button color="primary" (click)="addRow()">Add</button>
</form>