<div class="container" ngClass.lt-md="lt-md">
    <div fxFlex.gt-sm="15" fxFlex.lt-md="0"></div>
    <mat-card class="step-card" fxFlex.gt-sm="80" fxFlex.lt-md="100" ngClass.gt-sm="mat-elevation-z2"
        ngClass.lt-md="mat-elevation-z0 lt-md">
        <mat-card-content>
            <h1>Please check your email for validation link to validate and enable your account.</h1>
        </mat-card-content>
        <div fxLayout.gt-sm="row" fxLayout.lt-md="column-reverse" fxLayoutAlign.gt-sm="center center" fxLayoutGap="16px">            
            <button class="mat-elevation-z2" mat-raised-button color="accent">Goto login</button>
        </div>
    </mat-card>
    <div fxFlex.gt-sm="15" fxFlex.lt-md="0"></div>
</div>
