@font-face {
  font-family: 'OUTIcons';
  src:  url('./assets/icons/OUTIcons.eot?wwq8wt');
  src:  url('./assets/icons/OUTIcons.eot?wwq8wt#iefix') format('embedded-opentype'),
    url('/assets/icons/OUTIcons.ttf?wwq8wt') format('truetype'),
    url('/assets/icons/OUTIcons.woff?wwq8wt') format('woff'),
    url('/assets/icons/OUTIcons.svg?wwq8wt#OUTIcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="cicon-"], [class*=" cicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'OUTIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cicon-tomb:before {
  content: "\e923";
}
.cicon-rating:before {
  content: "\e94a";
}
.cicon-tomb-policy:before {
  content: "\e94c";
}
.cicon-star:before {
  content: "\e94d";
}
.cicon-star-outline:before {
  content: "\e94e";
}
.cicon-catering:before {
  content: "\e914";
}
.cicon-dustbin:before {
  content: "\e943";
}
.cicon-edit:before {
  content: "\e944";
}
.cicon-exclamation:before {
  content: "\e945";
}
.cicon-funeral:before {
  content: "\e946";
}
.cicon-good-to-know:before {
  content: "\e947";
}
.cicon-payment:before {
  content: "\e948";
}
.cicon-select-cover:before {
  content: "\e949";
}
.cicon-tombstone:before {
  content: "\e94b";
}
.cicon-smart-drive-circle:before {
  content: "\e901";
}
.cicon-add:before {
  content: "\e900";
}
.cicon-arrow-up:before {
  content: "\e903";
}
.cicon-arrow-right:before {
  content: "\e902";
}
.cicon-arrow-left:before {
  content: "\e941";
}
.cicon-arrow-down:before {
  content: "\e942";
}
.cicon-assist:before {
  content: "\e904";
}
.cicon-building:before {
  content: "\e905";
}
.cicon-building-office:before {
  content: "\e906";
}
.cicon-calender:before {
  content: "\e907";
}
.cicon-call-center-agent:before {
  content: "\e908";
}
.cicon-caravan:before {
  content: "\e909";
}
.cicon-cell:before {
  content: "\e90a";
}
.cicon-chat:before {
  content: "\e90b";
}
.cicon-close:before {
  content: "\e90c";
}
.cicon-compass:before {
  content: "\e90d";
}
.cicon-day-night:before {
  content: "\e90e";
}
.cicon-direction:before {
  content: "\e90f";
}
.cicon-disabled:before {
  content: "\e910";
}
.cicon-document:before {
  content: "\e911";
}
.cicon-documents:before {
  content: "\e912";
}
.cicon-download:before {
  content: "\e913";
}
.cicon-edit-tick:before {
  content: "\e915";
}
.cicon-exit:before {
  content: "\e916";
}
.cicon-hand-wave:before {
  content: "\e917";
}
.cicon-heart:before {
  content: "\e918";
}
.cicon-hide-password:before {
  content: "\e919";
}
.cicon-home:before {
  content: "\e91a";
}
.cicon-home-circle:before {
  content: "\e91b";
}
.cicon-home-garage:before {
  content: "\e91c";
}
.cicon-home-garage-circle:before {
  content: "\e91d";
}
.cicon-jacket:before {
  content: "\e91e";
}
.cicon-lady:before {
  content: "\e91f";
}
.cicon-leaf:before {
  content: "\e920";
}
.cicon-life:before {
  content: "\e921";
}
.cicon-life-circle:before {
  content: "\e922";
}
.cicon-life-saver:before {
  content: "\e924";
}
.cicon-lightning:before {
  content: "\e925";
}
.cicon-location-marker:before {
  content: "\e926";
}
.cicon-logoff:before {
  content: "\e927";
}
.cicon-menu:before {
  content: "\e928";
}
.cicon-money:before {
  content: "\e929";
}
.cicon-money_1:before {
  content: "\e92a";
}
.cicon-motorcycle:before {
  content: "\e92b";
}
.cicon-no-cell:before {
  content: "\e92c";
}
.cicon-personal:before {
  content: "\e92d";
}
.cicon-phone:before {
  content: "\e92e";
}
.cicon-play-circle:before {
  content: "\e92f";
}
.cicon-profile-add:before {
  content: "\e930";
}
.cicon-search:before {
  content: "\e931";
}
.cicon-shield:before {
  content: "\e932";
}
.cicon-show-password:before {
  content: "\e933";
}
.cicon-smart-drive:before {
  content: "\e934";
}
.cicon-tick:before {
  content: "\e935";
}
.cicon-tools:before {
  content: "\e936";
}
.cicon-trailer:before {
  content: "\e937";
}
.cicon-truck:before {
  content: "\e938";
}
.cicon-tv:before {
  content: "\e939";
}
.cicon-user:before {
  content: "\e93a";
}
.cicon-vehicle:before {
  content: "\e93b";
}
.cicon-vehicle-dash:before {
  content: "\e93c";
}
.cicon-vehicle-lightning:before {
  content: "\e93d";
}
.cicon-warning:before {
  content: "\e93e";
}
.cicon-hijack:before {
  content: "\e93f";
}
.cicon-watercraft:before {
  content: "\e940";
}
.cicon-electric-geyser:before {
  content: "\e94f";
}
.cicon-heat-pump-geyser:before {
  content: "\e950";
}
.cicon-solar-geyser:before {
  content: "\e951";
}
.cicon-unknown-geyser:before {
  content: "\e952";
}
.cicon-add-to-cart:before {
  content: "\e953";
}
.cicon-assistance:before {
  content: "\e954";
}
.cicon-calculator:before {
  content: "\e955";
}
.cicon-checklist:before {
  content: "\e956";
}
.cicon-contact:before {
  content: "\e957";
}
.cicon-tow-truck:before {
  content: "\e958";
}
.cicon-walet:before {
  content: "\e959";
}
.cicon-briefcase:before {
  content: "\e95a";
}
.cicon-vehicle-audio:before {
  content: "\e95b";
}
.cicon-linking:before {
  content: "\e95c";
}
.cicon-spc-dents:before {
  content: "\e95d";
}
.cicon-spc-scratches:before {
  content: "\e95e";
}
.cicon-spc-paint:before {
  content: "\e95f";
}
.cicon-vehicle-detail:before {
  content: "\ea0b";
}
.cicon-location-detail:before {
  content: "\ea0c";
}
.cicon-clock-detail:before {
  content: "\ea0d";
}
.cicon-mail:before {
  content: "\e963";
}
.cicon-cc-fire:before {
  content: "\e960";
}
.cicon-cc-hail:before {
  content: "\e961";
}
.cicon-cc-lightning:before {
  content: "\e962";
}
.cicon-cc-power-surge:before {
  content: "\e964";
}
.cicon-cc-storm:before {
  content: "\e965";
}
.cicon-cc-vandalism:before {
  content: "\e966";
}
.cicon-cc-wind:before {
  content: "\e967";
}
.cicon-cc-mechanical-breakdown:before {
  content: "\e968";
}
.cicon-windscreen-claim:before {
  content: "\e969";
}
.cicon-cc-building-accident:before {
  content: "\e96a";
}
.cicon-cc-building-geyser:before {
  content: "\e96b";
}
.cicon-cc-building-stolen:before {
  content: "\e96c";
}
.cicon-cc-caravan-accident:before {
  content: "\e96d";
}
.cicon-cc-caravan-stolen:before {
  content: "\e96e";
}
.cicon-cc-home-contents-accident:before {
  content: "\e96f";
}
.cicon-cc-home-contents-stolen:before {
  content: "\e970";
}
.cicon-cc-motorcycle-accident:before {
  content: "\e971";
}
.cicon-cc-motorcycle-lost:before {
  content: "\e972";
}
.cicon-cc-motorcycle-stolen:before {
  content: "\e973";
}
.cicon-cc-ooth-accident:before {
  content: "\e974";
}
.cicon-cc-ooth-stolen:before {
  content: "\e975";
}
.cicon-cc-ooth-mechanical-breakdown:before {
  content: "\e976";
}
.cicon-cc-personal-accident:before {
  content: "\e977";
}
.cicon-cc-personal-injury:before {
  content: "\e978";
}
.cicon-cc-trailer-accident:before {
  content: "\e979";
}
.cicon-cc-trailer-stolen:before {
  content: "\e97a";
}
.cicon-cc-vehicle-accident:before {
  content: "\e97b";
}
.cicon-cc-vehicle-lost:before {
  content: "\e97c";
}
.cicon-cc-vehicle-stolen:before {
  content: "\e97d";
}
.cicon-cc-watercraft-accident:before {
  content: "\e97e";
}
.cicon-cc-watercraft-electrical-breakdown:before {
  content: "\e97f";
}
.cicon-cc-watercraft-stolen:before {
  content: "\e980";
}
.cicon-cc-other:before {
  content: "\e981";
}
.cicon-cc-accident:before {
  content: "\e982";
}
.cicon-cc-lost:before {
  content: "\e983";
}
.cicon-cc-stolen:before {
  content: "\e984";
}
.cicon-lost-keys:before {
  content: "\e986";
}
.cicon-shield-add:before {
  content: "\e987";
}
.cicon-twenty-four-seven:before {
  content: "\e988";
}
.cicon-distance:before {
  content: "\e989";
}
.cicon-docs-detail:before {
  content: "\e98a";
}
.cicon-add-contact-btn:before {
  content: "\e985";
}
.cicon-Back:before {
  content: "\e98b";
}
.cicon-damages-caused:before {
  content: "\e98c";
}
.cicon-claims-contact-details:before {
  content: "\e98d";
}
.cicon-claims-submit:before {
  content: "\e98e";
}
.cicon-bc-flood:before {
  content: "\e98f";
}
.cicon-bc-earthquake:before {
  content: "\e990";
}
.cicon-bc-snow:before {
  content: "\e991";
}
.cicon-cc-acts-of-nature:before {
  content: "\e992";
}
.cicon-cc-claims-details:before {
  content: "\e993";
}
.cicon-cc-flooding:before {
  content: "\e994";
}
.cicon-cc-earthquake:before {
  content: "\e995";
}
.cicon-vehicle-details:before {
  content: "\e996";
}
