<mat-sidenav-container>
  <mat-sidenav #mainSideNav mode="over">
    <a mat-button (click)="gotoRegistration()">Register</a>
    <a mat-button (click)="gotoResetPassword()">Reset Password</a>    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row fxHide.lt-md fxLayout="row" fxLayoutAlign="start center">
        <a mat-button routerLink="/">Home</a>
        <span fxFlex></span>
        <a mat-button (click)="gotoRegistration()">Register</a>
        <a mat-button (click)="gotoResetPassword()">Reset Password</a>
      </mat-toolbar-row>
      <mat-toolbar-row fxHide.gt-sm fxLayout="row" fxLayoutAlign="start center">
        <button mat-mini-fab color="primary" (click)="mainSideNav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>   
        <span fxFlex></span>
        <a mat-button routerLink="/">Home</a>
      </mat-toolbar-row>
    </mat-toolbar>    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>