<!-- <mat-sidenav-container>
  <mat-sidenav-content>
    <div class="f-height" class="main-wrapper">
      <mat-toolbar #mainToolbar color="primary">
        <mat-toolbar-row class="header-wrapper">
          <a mat-button routerLink="/">Home</a>
          <div></div>
          <a mat-button (click)="gotoTestFlow()">Test Flow</a>
          <a mat-button (click)="gotoA1()">TMH1-A1</a>
          <a mat-button (click)="gotoChart()">Chart</a>
          <a mat-button (click)="gotoRegistration()">Register</a>
          <a mat-button (click)="gotoLogin()">Login</a>
        </mat-toolbar-row>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark header-wrapper">
  <a class="navbar-brand" href="#">Home</a>
  <div></div>
  <div>
    <ul class="navbar-nav">
      <li class="nav-item c-pointer">
        <a class="nav-link" (click)="gotoTestFlow()">Test Flow</a>
      </li>
      <li class="nav-item c-pointer">
        <a class="nav-link" (click)="gotoA1()">TMH1-A1</a>
      </li>
      <li class="nav-item c-pointer">
        <a class="nav-link" (click)="gotoChart()">Chart</a>
      </li>
      <li class="nav-item c-pointer">
        <a class="nav-link" (click)="gotoRegistration()">Register</a>
      </li>
      <li class="nav-item c-pointer">
        <a class="nav-link" (click)="gotoLogin()">Login</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet> -->
<div class="main-wrapper">
  <header class="sticky">

    <a href="#" class="logo">Logo</a>
    <a class="responsive-margin"></a>
    <a href="#" class="button">Home</a>
    <button>Download</button>
  </header>
  <!-- <header class="sticky">
    <a routerLink="/" class="logo">Logo</a>
    <div></div>
    <a (click)="gotoTestFlow()" class="button">Test Flow</a>
    <a (click)="gotoA1()" class="button">TMH1-A1</a>
    <a (click)="gotoChart()" class="button">Chart</a>
    <a (click)="gotoRegistration()" class="button">Register</a>
    <a (click)="gotoLogin()" class="button">Login</a>
  </header> -->
  <router-outlet></router-outlet>
</div>