<ng-container *ngIf="currentForm">
  <form [id]="formId" [formGroup]="currentForm" (ngSubmit)="onSubmit()">
    <div fxFlex.gt-sm="10" fxFlex.lt-md="0"></div>
    <mat-card fxFlex.gt-sm="90" fxFlex.lt-md="100" class="mat-elevation-z12">
      <mat-card-content>
        <app-fg-group fxFlex [controlIn]="currentForm" [parent]="currentForm" [parentCleared$]="cleared$" [parentReset$]="reset$">
        </app-fg-group>
      </mat-card-content>
      <!-- <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <button [attr.form]="formId" class="mat-elevation-z6" type="submit" mat-raised-button
        color="primary">Submit</button>
      <button class="mat-elevation-z6" type="button" mat-stroked-button color="accent"
        (click)="onReset()">Reset</button>
      <button class="mat-elevation-z6" type="button" mat-stroked-button color="warn" (click)="onClear()">Clear</button>
    </div> -->
      <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">
        <button class="mat-elevation-z6" type="button" mat-stroked-button color="accent"
          (click)="onReset()">Back</button>
        <button [attr.form]="formId" class="mat-elevation-z6" type="submit" mat-raised-button
          color="primary">Continue</button>
      </div>
    </mat-card>
    <div fxFlex.gt-sm="10" fxFlex.lt-md="0"></div>
  </form>
</ng-container>