<div [ngStyle]="bodyGridStyle">
  <div></div>
  <div>
    <div class="card">
      <div class="card-body">
        <router-outlet></router-outlet>
        <ng-container *ngIf="(currentStep$ | async) as currentStep">
          <div class="nav-buttons-wrapper">
            <ng-container *ngIf="currentStep.backButton">
              <button type="button" class="btn btn-secondary btn-block" (click)="back()">Back</button>
            </ng-container>
            <ng-container *ngIf="currentStep.nextButton">
              <button type="button" class="btn btn-primary btn-block" (click)="next()">{{currentStep.nextButton}}</button>
            </ng-container>
          </div>
        </ng-container>    
      </div>
    </div>
  </div>
  <div>
  </div>
</div>