<!-- <dui-stepper></dui-stepper> -->
<!-- <hr fxHide.gt-sm/> -->
<!-- <div [ngStyle]="bodyGridStyle">
    <div></div>
    <mat-card class="step-card">
        <mat-card-content>
            <router-outlet></router-outlet>
        </mat-card-content>
        <ng-container *ngIf="(currentStep$ | async) as currentStep">
            <div>
                <ng-container *ngIf="currentStep.backButton">
                    <button class="mat-elevation-z2 outline" mat-stroked-button color="primary"
                        (click)="back()">Back</button>
                </ng-container>
                <ng-container *ngIf="currentStep.nextButton">
                    <button class="mat-elevation-z2" mat-raised-button color="accent" (click)="next()">{{currentStep.nextButton}}</button>
                </ng-container>
            </div>
        </ng-container>
    </mat-card>
    <div></div>
</div> -->