input[type="checkbox"] {
  transform:scale(2.5);
  float:left;
  margin-top: 12px;
}

.check-box-wrapper {
  height: 20px;
  width: 40px;
  margin-left: 12px;
}

.feedback {
  margin-top: 15px !important;
}