// @import '~bootstrap/dist/css/bootstrap.min.css';
@import './sass/bootstrap.css';
@import '~@ng-select/ng-select/themes/default.theme.css';
@import './sass/variables.scss';
@import './assets/fonts/montserrat.fonts.scss';

// @import './assets/fonts/raleway.font.scss';

body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-y: scroll !important;
}

html {
  margin: 0 !important;
  padding: 0 !important;
}

* {
  font-family: 'Montserrat', sans-serif !important;
  text-rendering: optimizeLegibility !important;
  // font-family: 'Raleway', sans-serif !important;
  // border-radius: 0 !important;
}

.c-pointer {
  cursor: pointer;
}

.feedback {
  height: 15px;
  display: block !important;
  font-weight: 500;
  color: #FffF5F !important;
  font-size: 10px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.form-group {
  margin-bottom: 0;
}

.form-control.is-invalid {
  background-image: none;
}

input {
  font-weight: 400 !important;
  font-size: 1rem;
  width: 100%;
}

label {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  min-height: 20px;
}

select {
  width: 100%;
  font-weight: 600 !important;
}

.input-group-text {
  font-size: 14px;
  &.with-sup {
    font-size: 10px;
  }
}

input:disabled {
  background-color: #B0B0B0 !important;
}

input {
  border: none;
}

.input-group-sm {
  padding-top: 0 !important;
}

.form-control-sm {
  height: 36px !important;
}

.form-control-sm {
  height: 36px !important;
}

ng-select {
  width: 100%;
}