<form [formGroup]="parent" style="margin: 10px;">
    <ng-container *ngIf="isVisible">

        <ng-container *ngIf="subType === 'TEXT_INPUT'">
            <mat-form-field>
                <mat-label>{{_label_}}</mat-label>
                <input matInput [formControlName]="name">
                <mat-error>{{_error_}}</mat-error>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="subType === 'BOOLEAN_INPUT'">
            <mat-slide-toggle [formControlName]="name">{{_label_}}</mat-slide-toggle>
        </ng-container>

        <ng-container *ngIf="subType === 'RADIO_GROUP_INPUT'">
            <mat-radio-group [formControlName]="name" fxLayout="row" fxLayoutGap="10px">
                <ng-container *ngFor="let option of options">
                    <mat-radio-button [value]="option.key">{{option.value}}</mat-radio-button>
                </ng-container>
            </mat-radio-group>
        </ng-container>

    </ng-container>
</form>