<form [formGroup]="parent">
    <ng-container *ngIf="isVisible">

        <ng-container *ngIf="subType === 'TEXT_INPUT'">
            <ng-container *ngIf="!numbersOnly">
                <mat-form-field floatLabel="always" fxFlex="100">
                    <mat-label>{{_label_}}</mat-label>
                    <input [type]="_inputType_" matInput [formControlName]="name">
                    <mat-hint>{{_hint_}}</mat-hint>
                    <mat-error>{{_error_}}</mat-error>
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="numbersOnly">
                <mat-form-field floatLabel="always" fxFlex="100">
                    <mat-label>{{_label_}}</mat-label>
                    <input [type]="_inputType_" matInput [formControlName]="name" digitOnly [decimal]="allowDecimal">
                    <mat-hint>{{_hint_}}</mat-hint>
                    <mat-error>{{_error_}}</mat-error>
                </mat-form-field>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="subType === 'BOOLEAN_INPUT'">
            <mat-form-field appearance="none" floatLabel="always" fxFlex="100">
                <mat-label>{{_label_}}</mat-label>
                <mat-slide-toggle [formControlName]="name"></mat-slide-toggle>
                <input matInput [formControlName]="name" style="display: none;" hidden>
                <mat-hint>{{_hint_}}</mat-hint>
                <mat-error>{{_error_}}</mat-error>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="subType === 'RADIO_GROUP_INPUT'">
            <mat-radio-group [formControlName]="name" fxLayout="row" fxLayoutGap="10px">
                <ng-container *ngFor="let option of options">
                    <mat-radio-button [value]="option.key">{{option.value}}</mat-radio-button>
                </ng-container>
            </mat-radio-group>
        </ng-container>

    </ng-container>
</form>